@media (max-width: 872px) {

  .boton-menu { 
    width: 30px;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 40;
  }

  .boton-menu:hover {
    opacity: 80%;
    transition: 0.2s
  }

  .equis {
    font-family: "Raleway";
    font-style: regular;
    color: #ffffff;
    position: absolute;
    top: 0;
    font-size: 20px;
    right: 5%;
    margin-left: 50px;}

  
  .menu { 
  width: 0%;
height: 100%;
opacity: 80%;
flex-direction: column;
overflow-x: hidden;
transition: 0.5s;
}