* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  scroll-behavior: smooth;
}
/*----------------------Menú principal--------------------------------*/

.boton-menu { 
  width: 0px;
  position: fixed;
  right: 2%;
  top: 2%;
  z-index: 40;
}



.equis {
  
  font-size: 0px;
  }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: #0b3652;
  position: fixed;
  top: 0px;
  z-index: 70;
}
.enlace {
  font-family: "Raleway";
  font-style: regular;
  color: #ffffff;
  padding: 1%;
  z-index: 2;
}

.enlace:hover {
  font-family: "Raleway";
  font-style: bold;
  color: #20a5f7;
}

.home {
}
.homeI {width: 15%; margin: 0%; padding: 0%;}


/*-----------------FLotante Redes Sociales-------------------------------------*/

.redes {
  width: 40px;
  height: 150px;
  border-radius: 15px 0px 0px 15px;
  background-color: #0b3652;
  padding: 0.7% 0% 0.7%;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0%;
  top: 50vh;
  z-index: 20;
}

.redes img {
  width: 50%;
}

.redes img:hover {
  width: 70%;
  transition: 0.2s;
}

/*--------------------Página de Inicio----------------------------------*/

.inicio {
  width: 100%;
  height: 100vh;
  background-image: url("./fondo-inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overazul {
  width: 100%;
  height: 100%;
  background-color: #0b3652;
  opacity: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.logoBlanco {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 10;
  padding-bottom: 20px;
}
.inicio p {
  font-family: "Raleway";
  font-style: italic;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  padding: 0% 5% 0%;
  position: relative;
  z-index: 10;
}

/*------------------Quienes Somos------------------------------------*/

.somos {
  width: 100%;
  height: 100vh;
  background-image: url("./somos/fondo-textura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overSomos {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.camara {
  width: 40%;
  position: relative;
  z-index: 3;
}

.cajaSomos {
  width: 45%;
  height: 80%;
  background-color: #20a5f7;
  position: relative;
  z-index: 2;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.barritaOscura {
  width: 150px;
  height: 5px;
  background-color: #0b3652;
  margin: 15px 0px 0px 0px;
}

.barritaOscura {
  width: 150px;
  height: 3px;
  background-color: #0b3652;
  margin: 10px 0px 0px 0px;
}
.barritaClara {
  width: 150px;
  height: 3px;
  background-color: #20a5f7;
  margin: 10px 0px 0px 0px;
}
.tituloBlanco {
  font-family: "Raleway";
  font-style: bold;
  font-size: 30px;
  color: #ffffff;
}

.tituloOscuro {
  font-family: "Raleway";
  font-style: bold;
  font-size: 30px;
  color: #0b3652;
}

.somos p {
  font-family: "Raleway";
  font-style: italic;
  color: #ffffff;
  margin-top: 30px;
}

/*--------------------Servicios----------------------------------*/

.servicios {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.tituloServicios {
  width: 100%;
  height: 20%;
  background-color: #0b3652;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.artServicios {
  width: 100%;
  height: 80%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.artServicios article {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.artServicios img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.artServicios p {
  font-family: "Raleway";
  font-style: light;
  font-size: 30px;
  color: #0b3652;
  margin: 20px 0px 0px;
}

.leerMas {
  font-family: "Raleway";
  font-style: italic;
  color: #20a5f7;
}

/*----------------------Nuestro Equipo--------------------------------*/

.equipo {
  width: 100%;
  height: 100vh;
}

.tituloEquipo {
  width: 100%;
  height: 20%;
  background-color: #0b3652;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.equipoE {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.equipoE img {
  width: 80%;
}

.equipoE h3 {
  font-family: "Raleway";
  font-style: bold;
  font-size: 200%;
  color: #ffffff;
}

.equipoE p {
  font-family: "Raleway";
  font-style: italic;
  font-size: 100%;
  color: #ffffff;
  margin-top: 1%;
}

.andres {
  width: 33.33%;
  height: 100%;
  background-color: #105078;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.deiby {
  width: 33.33%;
  height: 100%;
  background-color: #187ab8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.manuel {
  width: 33.33%;
  height: 100%;
  background-color: #20a5f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/*-------------------------Portafolio-----------------------------*/

.portafolio {
  width: 100%;
  height: auto;
}

.tituloPortafolio {
  width: 100%;
  padding: 3%;
  background-color: #20a5f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.galeria1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}



.elementoG {
  position: relative;
  width: 20%;
  height: 50%;
}

.imageG {
  display: block;
  width: 100%;
  height: auto;
}

.overlayG {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:#0b3652;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.elementoG:hover .overlayG {
  bottom: 0;
  height: 100%;
}

.textG {
  
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*----------------------Contacto--------------------------------*/

.contacto {
  width: 100%;
  height: 100vh;
}

.tituloContacto {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contactoE {
  width: 100%;
  height: 80%;
  display: flex;
}

.mapa {
  width: 50%;
  height: 100%;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  width: 100%;
  height: 20%;
  background-color: #20a5f7;
  display: flex;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formulario {
  width: 50%;
  height: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-top: 4%;
}

.info h2 {
  font-family: "Raleway";
  font-style: bold;
  text-align: center;
  font-size: 150%;
  color: #0b3652;
}

.info p {
  font-family: "Raleway";
  font-style: regular;
  font-size: 90%;
  text-align: center;
  color: #ffffff;
}

input {
  font-family: "Raleway";
  font-style: italic;
  color: #ffffff;
  background-color: #20a5f7;
  border: 0px;
  padding: 2%;
  width: 100%;
}

textarea {
  font-family: "Raleway";
  font-style: italic;
  color: #ffffff;
  background-color: #20a5f7;
  border: 0px;
  padding: 2%;
}

::placeholder {
  color: #ffffff;
}

button {
  font-family: "Raleway";
  font-style: bold;
  font-size: 100%;
  color: #ffffff;
  width: 20%;
  background-color: #0b3652;
  border: 0px;
  border-radius: 25px;
  padding: 2%;
}

footer {
  width: 100%;
  height: 20vh;
}

footer p {
  width: 100%;
  height: 19vh;
  font-family: "Raleway";
  font-style: regular;
  color: #ffffff;
  background-color: #0b3652;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: flex;
}

.barraFinal {
  width: 100%;
  height: 1vh;
  background-color: #20a5f7;
}
